<div class="modal" id="new-sync-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enrolar sincronizador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                  <table class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let sync of PendingSyncs">
                        <td>{{ sync.name }}</td>
                        <td>
                          <a class="btn btn-success btn-sm add-smt-btn spacingLeft" (click)="onAddClick(sync.encrypted_id)" data-toggle="tooltip" data-placement="top" title="Enrolar"><i class="fa fa-check" aria-hidden="true"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="float:left;">Cancelar</button>
        </div>
      </div>
    </div>
</div>